server:
  port: 8083
spring:
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: https://avdeev-sa.ru/keycloak/realms/ttc-tops
          jwk-set-uri: https://avdeev-sa.ru/keycloak/realms/ttc-tops/protocol/openid-connect/certs
      client:
        provider:
          keycloak:
            issuer-uri: https://avdeev-sa.ru/keycloak/realms/ttc-tops
            user-name-attribute: preferred_username
        registration:
          keycloak:
            provider: keycloak
            client-id: dev-ttc-tops
            client-secret: '{cipher}878712b1da2988529855ad3d93671d350de72f4cff05a8a160ea684ac7f8f2b5ebe569546e613f742be00980a63c66cb5aea8ceffd6e869724c5a328de3a0d2f'
            scope: openid
  cloud:
    gateway:
      default-filters:
        - TokenRelay=
        - RemoveRequestHeader=Cookie
        - AddResponseHeader=Access-Control-Allow-Credentials, true
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      routes:
        - id: resource-service
          uri: lb://resource-service
          predicates:
            - Path=/api/v1/storage/**, /api/v1/contact-type/**
          filters:
            - StripPrefix=1
            - PrefixPath=/
        - id: schedule-service
          uri: lb://schedule-service
          predicates:
            - Path=/api/v1/work-time,/api/v1/calendar,/api/v1/reserve,/api/v1/calendar/**
          filters:
            - StripPrefix=1
            - PrefixPath=/
        - id: static-service
          uri: lb://static-content
          predicates:
            - Path=/ttc-tops/**
          filters:
            - StripPrefix=0
            - PrefixPath=/
        - id: rempmm-bot
          uri: lb://rempmm-bot
          predicates:
            - Path=/bot/**
          filters:
            - StripPrefix=1
            - PrefixPath=/
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "localhost:5173"
            allowedHeaders: "*"
            allowedMethods:
            - GET
            - POST
            - PUT
        add-to-simple-url-handler-mapping: true
management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: "health,info,gateway"
logging:
  level:
    org.springframework.web.reactive: DEBUG
    org.springframework.security: DEBUG
logout:
  url: "http://localhost:5173"
login:
  post_url: "http://localhost:5173"
